extends layout

block content
  .container
    h1 [FINETCH II] Blockchain Demo I
    h2 区块链的关键词
    h3   HASH：一种从任何一种数据中创建小的数字“指纹”的方法
     a(href='https://www.bilibili.com/video/BV14K411G7SL?from=search&seid=10372327302615993243') 视频详解
    h3   BLOCK：区块
    h3   BlockCHAIN：区块的链
    h3   Distributed：分布式
    h3   TOKEN：代币？通证？
     a(href='https://www.bilibili.com/video/BV1rW411D7PG?from=search&seid=10354343911465385459') 视频详解
    h3   Coinbase：比特币区块链上的每个区块之中都会包含一个或者多个交易（ transaction ），其中第一个交易就叫做 Coinbase 交易。
     a(href='https://happypeter.github.io/binfo/coinbase') 文本解释
    br
    p.pull-right
      a(href='http://ftcourse.cn/')
      | SWUFE FINTECH
