extends layout

block content
  .container
    h1 [FINETCH II] Blockchain Demo II
    h2 公钥、私钥在区块链的应用
    h3  椭圆算法：一种从任何一种数据中创建小的数字“指纹”的方法
     a(href='https://www.bilibili.com/video/BV14K411G7SL?from=search&seid=10372327302615993243') 视频详解
    h3   KEYS：密钥
    h3   SIGNATURES ：签名
    h3   TRANSACTION ：交易
    br
    p.pull-right
      a(href='http://ftcourse.cn/')
      | SWUFE FINTECH
